USE [master]
GO
/****** Object:  Database [pythonjsondemo]    Script Date: 14/04/2025 15:34:36 ******/
CREATE DATABASE [pythonjsondemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pythonjsondemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pythonjsondemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pythonjsondemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pythonjsondemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pythonjsondemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pythonjsondemo]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 14/04/2025 15:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [varchar](50) NULL,
	[iso2Code] [varchar](50) NULL,
	[value] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
